/*

*/


#panelP:hover{
	 -fx-background-color: #143356
	 
}
#txtCambioPerfil{
	-fx-text-inner-color: #fff;
}

#boton{
	-fx-background-color:  #00B4FF;
	  -fx-text-fill: black;
	 
}

#boton:hover{
	-fx-background-color: #10427A;
	-fx-text-fill: white;
	 
}

#botonBlanco{
	-fx-background-color: white;
	 -fx-text-fill: black;
	 
}
#botonBlanco:hover{
	-fx-background-color: black;
	 -fx-text-fill: white;
	 
}


#fperfil {
    -fx-transition: transform 0.1s;
}


#fperfil:hover {
    
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
    
}


#bPerfil:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

#botones:hover {
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}

#bApagar {
    -fx-transition: transform 0.1s;
}


#bApagar:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

#fMusica:hover{
	-fx-scale-x: 1.10;
    -fx-scale-y: 1.10;
}

#fMusica1:hover{
	-fx-scale-x: 1.18;
    -fx-scale-y: 1.18;
}

#bGuardarCambios{
	-fx-background-color: White;
	-fx-text-fill: black;
}

#bGuardarCambios:hover{
	-fx-background-color: #7FADE1;
	-fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
    
}

#scrollPane{
	-fx-background: transparent; 
	-fx-background-color: transparent;
}




#bEliminarCuenta{
	-fx-background-color: #F40F0B;
	-fx-text-fill: black;
	
	
    
}

#bEliminarCuenta:hover{
	-fx-background-color: #EF4C49;
	-fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
    
}



#bGuardarAjustes{
	/*	-fx-background-color: #62B71E;*/
	-fx-background-color: GREEN;
	-fx-text-fill: black;
	
	
    
}

#bGuardarAjustes:hover{
	-fx-background-color: #80FA1F;
	-fx-scale-x: 1.08;
    -fx-scale-y: 1.08;
    
}



/*SLIDER VOLUMEN*/
#sldVolumen{
	-fx-pref-width: 275px;
	
	
}
#sldVolumen .track{
	-fx-background-color: linear-gradient(to left, green, #71FF00,  white);
	-fx-background-radius: 0;
	-fx-pref-height: 12px;
}

#sldVolumen .thumb{
	-fx-pref-height: 35px;
	-fx-pref-width: 10px;
	-fx-background-color: linear-gradient(to top, royalblue, aquamarine);
	-fx-background-radius: 0;
}







