/*
*/
#panelP:hover {
	-fx-background-color: #143356
}

/*TEXT FIELD Y AREA*/
#txtEditaElementos{
   -fx-text-fill: BLACK;
}

TextArea {
   -fx-text-fill: BLACK;
}



#txtCambioPerfil {
	-fx-text-inner-color: #fff;
}



/*BOTONES*/
#boton {
	-fx-background-color: #00B4FF;
	-fx-text-fill: black;
}

#boton:hover {
	-fx-background-color: #10427A;
	-fx-text-fill: white;
}

#botonBlanco {
	-fx-background-color: white;
	-fx-text-fill: black;
}

#botonBlanco:hover {
	-fx-background-color: black;
	-fx-text-fill: white;
}

#fperfil {
	-fx-transition: transform 0.1s;
}

#fperfil:hover {
	-fx-scale-x: 1.15;
	-fx-scale-y: 1.15;
}

#bPerfil:hover {
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;
}

#botones:hover {
	-fx-scale-x: 1.15;
	-fx-scale-y: 1.15;
}

#bApagar {
	-fx-transition: transform 0.1s;
}

#bApagar:hover {
	-fx-scale-x: 1.2;
	-fx-scale-y: 1.2;
}

#fMusica:hover {
	-fx-scale-x: 1.10;
	-fx-scale-y: 1.10;
}

#fMusica1:hover {
	-fx-scale-x: 1.18;
	-fx-scale-y: 1.18;
}

#bGuardarCambios {
	-fx-background-color: White;
	-fx-text-fill: black;
}

#bGuardarCambios:hover {
	-fx-background-color: #7FADE1;
	-fx-scale-x: 1.08;
	-fx-scale-y: 1.08;
}

#scrollPane {
	-fx-background: transparent;
	-fx-background-color: transparent;
}

#bEliminarCuenta {
	-fx-background-color: #F40F0B;
	-fx-text-fill: black;
}

#bEliminarCuenta:hover {
	-fx-background-color: #EF4C49;
	-fx-scale-x: 1.08;
	-fx-scale-y: 1.08;
}

#bGuardarAjustes {
	/*	-fx-background-color: #62B71E;*/
	-fx-background-color: GREEN;
	-fx-text-fill: black;
	-fx-background-radius: 30px;
	-fx-border-radius: 20px;
	-fx-border-width: 4px;
	-fx-border-color: black;
}

#bGuardarAjustes:hover {
	-fx-background-color: #80FA1F;
	-fx-scale-x: 1.08;
	-fx-scale-y: 1.08;
}

/*Botones del panel administrativo*/
#bAdminBotonUsuAceptar {
	/*	-fx-background-color: #62B71E;*/
	-fx-background-color: GREEN;
	-fx-text-fill: black;
	-fx-background-radius: 30px;
	-fx-border-radius: 20px;
	-fx-border-width: 4px;
	-fx-border-color: black;
}

#bAdminBotonUsuAceptar:hover {
	-fx-background-color: #80FA1F;
	-fx-scale-x: 1.08;
	-fx-scale-y: 1.08;
	transition-delay:0.3s;
}

#bAdminBotonUsuCancelar {
	-fx-background-color: #FF7400;
	-fx-text-fill: black;
	-fx-background-radius: 30px;
	-fx-border-radius: 20px;
	-fx-border-width: 4px;
	-fx-border-color: black;
}

#bAdminBotonUsuCancelar:hover {
	-fx-background-color: #FFC600;
	-fx-scale-x: 1.08;
	-fx-scale-y: 1.08;
}

#bAdminBotonUsuEliminar {
	-fx-background-color:red;
	-fx-text-fill: black;
	-fx-background-radius: 30px;
	-fx-border-radius: 20px;
	-fx-border-width: 4px;
	-fx-border-color: black;
}

#bAdminBotonUsuEliminar:hover {
	-fx-background-color: #FE5627;
	-fx-scale-x: 1.08;
	-fx-scale-y: 1.08;
}
/*-----------------------------------------------*/ 

/*SLIDER VOLUMEN*/
#sldVolumen {
	-fx-pref-width: 275px;
}

#sldVolumen .track {
	-fx-background-color: linear-gradient(to left, green, #71FF00, white);
	-fx-background-radius: 0;
	-fx-pref-height: 12px;
}

#pFondoAdmin {
	-fx-background-color: linear-gradient(to bottom,#22dcfd, #1c91e2,#5865b9);
	-fx-border-color:  black;
	-fx-border-width:  3px;
	
}


#sldVolumen .thumb {
	-fx-pref-height: 35px;
	-fx-pref-width: 10px;
	-fx-background-color: linear-gradient(to top, royalblue, aquamarine);
	-fx-background-radius: 0;
}


.verListview{
	-fx-background-color: white;
	-fx-background-radius: 25px;
	-fx-border-color: black;
	-fx-border-radius: 25px;
	-fx-border-width: 3px;
}
.verListview:hover{
	-fx-background-color: #8DBB23;
}

.editListview{
	-fx-background-color: white;
	-fx-background-radius: 25px;
	-fx-border-color: black;
	-fx-border-radius: 25px;
	-fx-border-width: 3px;
}
.editListview:hover{
	-fx-background-color: #2396BB;
}

.deleteListview{
	-fx-background-color: white;
	-fx-background-radius: 25px;
	-fx-border-color: black;
	-fx-border-radius: 25px;
	-fx-border-width: 3px;
}
.deleteListview:hover{
	-fx-background-color: #BE4C1E;
}



/*TABLE VIEWS*/

.tablaLibros {
	-fx-background-color: WHITE; 
	-fx-border-radius: 25px; 
	-fx-background-radius: 50px; 
	-fx-border-color: BLACK; 
	-fx-border-width: 5; 
	
}

.tablaLibros .column-header-background {
	-fx-background-color: #651FFF; 
	-fx-background-radius: 27px; 
	-fx-background-insets: 0 0 10 0;
	
}

.tablaLibros .column-header, .tablaLibros .filler{
	-fx-size:50px;
	-fx-border-width: 0 0 10 0;
	-fx-background-color: transparent;
	
	
}

.tablaLibros .column-header .label{
	-fx-text-fill: white;
	-fx-font-size: 16px;
	-fx-alignment: CENTER;
	-fx-padding: 0 25 7 0;
}

.tablaLibros .cell {
    -fx-font-size: 16px; /* Tama�o de fuente */
    -fx-fill-text: black;
    -fx-font-family: Arial;
    -fx-alignment: CENTER;
    
}
.tablaLibros .row-cell {
    -fx-border-color: black; /* Color de borde */
    -fx-border-width: 7px; /* Ancho de borde: bottom */
}





.tablaLibros .scroll-bar:horizontal, .tablaLibros .scroll-bar:vertical {
    -fx-background-color: NONE; /* Reemplaza #FFFFFF con el color deseado */
  
}

/* Cambiar el color del thumb (la barra de desplazamiento arrastrable) para tablaLibros */
.tablaLibros .scroll-bar:horizontal .thumb, .tablaLibros .scroll-bar:vertical .thumb {
    -fx-background-color: BLACK; 
   
}

/* Cambiar el color de los botones de incremento y decremento para tablaLibros */
.tablaLibros .scroll-bar:horizontal .increment-button, .tablaLibros .scroll-bar:horizontal .decrement-button, 
.tablaLibros .scroll-bar:vertical .increment-button, .tablaLibros .scroll-bar:vertical .decrement-button {
    -fx-background-color: #000000; 
}

/*Tablas del panel Admin */
.tablaAdmin {
	-fx-border-color: black;
	-fx-border-width: 3px;
	-fx-font-family: arial;
	
}

.tablaAdmin .column-header .label{
	-fx-text-fill: black;
	-fx-font-size: 18px;
	-fx-alignment: CENTER;
}


